<div id="page_content" ng-init="init()">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Serviços Contábeis
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <label>Nome</label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="filter.Nome" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>De </label>
                        <input type="text" ui-mask="99/99/9999" datepicker class="md-input label-fixed" ng-model="filter.De" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Até</label>
                        <input type="text" ui-mask="99/99/9999" datepicker class="md-input label-fixed" ng-model="filter.Ate" md-input />
                    </div>
                    <div class="uk-width-1 uk-grid-margin">
                        <div class="uk-align-right">
                            <a class="md-btn md-btn-primary" ng-click="filtrar()" href="javascript:void(0)">Filtrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <ul class="uk-tab uk-tab-grid">
                    <li class="uk-width-1-4 {{filter.Status==0 ? 'uk-active' : ''}}" ng-click="getStatus(0)"><a href="#">Registrado</a></li>
                    <li class="uk-width-1-4 {{filter.Status==1 ? 'uk-active' : ''}}" ng-click="getStatus(1)"><a href="#">Em andamento</a></li>
                    <li class="uk-width-1-4 {{filter.Status==2 ? 'uk-active' : ''}}" ng-click="getStatus(2)"><a href="#">Resolvido</a></li>
                    <li class="uk-width-1-4 {{filter.Status==3 ? 'uk-active' : ''}}" ng-click="getStatus(3)"><a href="#">Cancelado</a></li>
                </ul>
                <ul class="uk-switcher uk-margin">
                    <li aria-hidden="false" class="uk-active">
                        <div class="uk-overflow-container" ng-if="lista.list.length > 0">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Celular</th>
                                        <th>Email</th>
                                        <th>Data Solicitacao</th>
                                        <th>Unidades</th>
                                        <th>Valor Total</th>
                                        <th>Status</th>
                                        <th class="acoes-2">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="orcamento in lista.list">
                                        <td>{{orcamento.Nome}}</td>
                                        <td>{{orcamento.Celular | tel}}</td>
                                        <td>{{orcamento.Email}}</td>
                                        <td>{{orcamento.DataSolicitacao}}</td>
                                        <td>{{orcamento.QtdTotal}}</td>
                                        <td>{{orcamento.ValorTotal | currency : "R$ " : 2}}</td>
                                        <td>{{orcamento.StatusFormatado}}</td>
                                        <td>
                                            <div class="uk-button-dropdown" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                                                <button class="md-btn md-btn md-btn-small"><i class="material-icons md-icon-dark">print</i></button>
                                                <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom" aria-hidden="true" tabindex="">
                                                    <ul class="uk-nav uk-nav-dropdown">
                                                        <li><a ng-click="pdf(orcamento.Id)" href="javascript:void(0)">PDF</a></li>
                                                        <li><a ng-click="xls(orcamento.Id)" href="javascript:void(0)">XLS</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="md-btn md-btn md-btn-small" title="Detalhe" ng-click="detalhe(orcamento.Id)" href="javascript:void(0)"><i class="material-icons md-icon-dark">description</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul ng-hide="lista.pages.length==0" class="uk-pagination uk-margin-top">
                                <li ng-repeat="p in lista.pages" ng-class="p == lista.current ? 'uk-active' : ''"><a ng-click="filtrar(p)" href="javascript:void(0)">{{p}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="uk-modal" id="detalhe" aria-hidden="true">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class='md-card-toolbar'>
            <h3 class='md-card-toolbar-heading-text'>
                Detalhe do Orçamento
            </h3>
        </div>
        <div class="uk-grid">
            <div class="uk-width-2-3">
                <label>Nome do Solicitante</label>
                <input type="text" ng-disabled="true" class="md-input label-fixed" ng-model="detalheOrcamento.Nome" md-input />
            </div>
            <div class="uk-width-1-3">
                <label>Status</label>
                <select class="md-input label-fixed" ng-model="detalheOrcamento.Status" ng-change="changeStatus(detalheOrcamento)" md-input>
                    <option value="0">Registrado</option>
                    <option value="1">Em andamento</option>
                    <option value="2">Resolvido</option>
                    <option value="3">Cancelado</option>
                </select>
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Telefone</label>
                <input type="text" ui-mask="(99)9999-9999" ng-disabled="true" class="md-input label-fixed" ng-model="detalheOrcamento.Telefone" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Celular</label>
                <input type="text" ui-mask="(99)9999-9999" ng-disabled="true" class="md-input label-fixed" ng-model="detalheOrcamento.Celular" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Email</label>
                <input type="text" ng-disabled="true" class="md-input label-fixed" ng-model="detalheOrcamento.Email" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Data de Solicitação</label>
                <input type="text" ui-mask="99/99/9999" ng-disabled="true" datepicker class="md-input label-fixed" ng-model="detalheOrcamento.DataSolicitacao" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Unidades</label>
                <input type="text" ng-disabled="true" class="md-input label-fixed" ng-model="detalheOrcamento.QtdTotal" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Valor Total</label>
                <input type="text" ng-disabled="true" money-mask="R$" class="md-input label-fixed" ng-model="detalheOrcamento.ValorTotal" md-input />
            </div>
        </div>
        <div class="uk-width-1-1 uk-margin-medium-top" ng-hide="detalheOrcamento.OrcamentosProdutos == undefined || detalheOrcamento.OrcamentosProdutos.length == 0">
            <div class='md-card-toolbar'>
                <h3 class='md-card-toolbar-heading-text'>
                    Produtos do Orçamento
                </h3>
            </div>
        </div>
        <div class="uk-overflow-container" ng-hide="detalheOrcamento.OrcamentosProdutos == undefined || detalheOrcamento.OrcamentosProdutos.length == 0">
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th class="grid-img"></th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Cor</th>
                        <th>Preço Unitário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dOrcamento in detalheOrcamento.OrcamentosProdutos">
                        <td><img class="md-user-image md-list-addon-avatar" ng-src="{{getPhotoLista(dOrcamento)}}" alt="" src="{{getPhotoLista(dOrcamento)}}"></td>
                        <td>{{dOrcamento.Produto.Nome}}</td>
                        <td>{{dOrcamento.Quantidade}}</td>
                        <td>
                            {{dOrcamento.Cor.Nome == null ? 'N/A' : ''}}
                            <div ng-if="dOrcamento.Cor.Nome != null" class="selected-color rounded" title="{{dOrcamento.Cor.Nome}}" style="background:{{dOrcamento.Cor.Hexadecimal}}"></div>
                        </td>
                        <td>{{dOrcamento.PrecoUnitario | currency : 'R$ ' : 2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>