<div id="page_content" ng-init="init()">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Estados
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <label>Nome</label>
                        <input type="text" maxlength="150" class="md-input label-fixed" ng-model="filter.Nome" md-input />
                    </div>
                    <div class="uk-width-1-2">
                        <label>Sigla</label>
                        <input type="text" maxlength="150" class="md-input label-fixed" ng-model="filter.Sigla" md-input />
                    </div>
                    <div class="uk-width-1 uk-grid-margin">
                        <div class="uk-align-right">
                            <a class="md-btn md-btn-primary" ng-if="IsAdmin" ng-click="novo()" href="javascript:void(0)">Novo</a>
                            <a class="md-btn md-btn-primary" ng-click="filtrar()" href="javascript:void(0)">Filtrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card uk-margin-medium-bottom" ng-hide="lista.list == undefined || lista.list.length == 0">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Sigla</th>
                                <th>Situação</th>
                                <th class="acoes-2">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="estado in lista.list">
                                <td>{{estado.Nome}}</td>
                                <td>{{estado.Sigla}}</td>
                                <td>{{estado.Situacao == "True" ? "Ativo" : "Inativo"}}</td>
                                <td>
                                    <a class="md-btn md-btn md-btn-small" title="Editar" ng-click="editar(estado.Id)" href="javascript:void(0)"><i class="material-icons md-icon-dark">edit</i></a>
                                    <a class="md-btn md-btn md-btn-small" ng-if="IsAdmin" title="Excluir" ng-confirm-click="excluir(estado.Id)" href="javascript:void(0)"><i class="material-icons md-icon-dark">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul ng-hide="lista.pages.length==0" class="uk-pagination uk-margin-top">
                        <li ng-repeat="p in lista.pages" ng-class="p == lista.current ? 'uk-active' : ''"><a ng-click="filtrar(p)" href="javascript:void(0)">{{p}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
