<ion-view title="Assinaturas" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="assinaturas-list16">
      <ion-item class="item-divider" id="assinaturas-list-item-divider25"> Assine Já</ion-item>
      <ion-item class="item-icon-left dark" id="assinaturas-list-item60">
        <i class="icon ion-android-radio-button-off"></i>1 mês
        <span class="item-note">R$ 25,00</span>
      </ion-item>
      <ion-item class="item-icon-left dark" id="assinaturas-list-item61">
        <i class="icon ion-android-radio-button-on"></i>2 meses
        <span class="item-note">R$ 45,00</span>
      </ion-item>
      <ion-item class="item-icon-left dark" id="assinaturas-list-item62">
        <i class="icon ion-android-radio-button-off"></i>3 meses
        <span class="item-note">R$ 60,00</span>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.minhaAssinatura()" id="assinaturas-button25" class="button button-positive button-block">Assine Agora</a>
  </ion-content>
</ion-view>