<ion-view title="Minha Assinatura" id="page13" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <div id="preloader" ng-if="loading">
      <div class="preloader" style="background-size: cover;"></div>
    </div>
    <div ng-hide="loading">
      <ion-list>
        <ion-item class="item-divider"> Dados de Renovação</ion-item>
        <ion-item>{{assinatura.Plano.Descricao}}
          <span class="item-note">{{assinatura.Plano.ValorFormatado}}</span>
        </ion-item>
        <ion-item>Proxima renovação
          <span class="item-note">{{assinatura.Cliente.DataExpiracao}}</span>
        </ion-item>
      </ion-list>
      <a ng-click="cancelar()" class="button button-assertive button-block">Cancelar Assinatura</a>
    </div>
  </ion-content>
</ion-view>