<ion-view title="Assinaturas" id="page15" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <div id="preloader" ng-if="loading">
      <div class="preloader" style="background-size: cover;"></div>
    </div>
    <ion-list ng-hide="loading">
      <ion-item class="item-divider">Assine Já</ion-item>
      <ion-item class="item-icon-left" ng-click="select(plano)" ng-repeat="plano in planos">
        <i class="icon {{plano.selecionado ? 'ion-android-radio-button-on' : 'ion-android-radio-button-off'}}"></i>
        <span>{{plano.Descricao}}</span>
        <p ng-if="plano.Vezes > 1">{{plano.Vezes}}x de {{plano.ValorDivididoFormatado}}</p>
        <p ng-if="plano.Vezes == 1">{{plano.ValorFormatado}}</p>
        <p class="allow-linebreak">Renova a assinatura por {{plano.Dias}} dias</p>
      </ion-item>
      <a ng-click="assinar()" class="button button-positive button-block">Assine Agora</a>
    </ion-list>
  </ion-content>
</ion-view>