<ion-view title="Meus Banners" id="page5" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <div id="preloader" ng-if="loading">
      <div class="preloader" style="background-size: cover;"></div>
    </div>
    <div ng-hide="loading || (group.EmEspera.length > 0 || group.EmExibicao.length > 0  || group.Expirados.length > 0)">
      <h3>Não há registros</h3>
      <div class="show-list-numbers-and-dots">
        <p>Não existem banners vinculados a sua conta de usuário.</p>
      </div>
    </div>
    <div ng-hide="loading">
      <ion-list>
        <div class="card" ng-repeat="banner in group.EmExibicao">
            <ion-item class="item-divider">Em Exibicao</ion-item>
            <div ng-include="'templates/card-banner-details.html'"></div>
        </div>
        <div class="card" ng-repeat="banner in group.EmEspera">
          <ion-item class="item-divider">Em espera</ion-item>
          <div ng-include="'templates/card-banner-details.html'"></div>
        </div>
        <div class="card" ng-repeat="banner in group.Expirados">
          <ion-item class="item-divider">Expirados</ion-item>
          <div ng-include="'templates/card-banner-details.html'"></div>
        </div>
      </ion-list>
      <a ui-sref="menu.publicar()" id="meusBanners-button9" class="button button-positive button-block">Publicar Banner</a>
    </div>
  </ion-content>
</ion-view>