<ion-view title="Buscar Profissionais" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="buscarProfissionais-heading2" style="color:#000000;">Buscar profissionais</h3>
    <div id="buscarProfissionais-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Utilize os filtros para encontrar profissionais</p>
    </div>
    <form id="buscarProfissionais-form3" class="list">
      <ion-item class="item-divider" id="buscarProfissionais-list-item-divider16"> Busque por</ion-item>
      <label class="item item-select" id="buscarProfissionais-select3">
        <span class="input-label">Profissão</span>
        <select></select>
      </label>
      <label class="item item-select" id="buscarProfissionais-select4">
        <span class="input-label">Disponibilidade
          <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        </span>
        <select></select>
      </label>
      <label class="item item-select" id="buscarProfissionais-select5">
        <span class="input-label">Sexo</span>
        <select></select>
      </label>
      <ion-item class="range range-positive" id="buscarProfissionais-range1">Experiência
        <input type="range" value="0" min="0" max="10" step="1">
      </ion-item>
      <ion-item class="item-divider" id="buscarProfissionais-list-item-divider15"> Região</ion-item>
      <label class="item item-select" id="buscarProfissionais-select2">
        <span class="input-label">Cidade</span>
        <select></select>
      </label>
      <label class="item item-input item-stacked-label" id="buscarProfissionais-input12">
        <span class="input-label">Bairro</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="menu.profissionais()" id="buscarProfissionais-button7" class="button button-positive button-block">Encontrar Profissionais</a>
    </form>
  </ion-content>
</ion-view>