<ion-view title="Certificados" id="page11" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <ion-list id="certificados-list8">
      <ion-item class="item-divider" id="certificados-list-item-divider20"> Selecione o certificado:</ion-item>
      <label class="item item-select item-stacked">
        <select ng-options="x as x.Descricao for x in certificados" ng-model="form.Certificado">
          <option value="">Selecione...</option>
        </select>
      </label>
    </ion-list>
    <a ng-click="adicionarCertificados()" id="certificados-button14" class="button button-positive button-block">Adicionar</a>
  </ion-content>
</ion-view>