<ion-view title="Certificados" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="certificados-list8">
      <ion-item class="item-divider" id="certificados-list-item-divider20"> Selecione o certificado:</ion-item>
      <label class="item item-select" id="certificados-select15">
        <span class="input-label">Item</span>
        <select></select>
      </label>
    </ion-list>
    <a ui-sref="menu.perfil()" id="certificados-button14" class="button button-positive button-block">Adicionar</a>
  </ion-content>
</ion-view>