<ion-view title="Contrato" id="page4">
    <ion-content padding="true" class="has-header has-footer">
        <div class=WordSection1>

            <p class=MsoNormal style='text-align:center'><span style='font-size:18.0pt;line-height:115%'>BELEZA
                    MAIS FORTE<br>
                    <br>
                </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>CONTRATO
                    DE ADESÃO À PRESTAÇÃO DE SERVIÇO E AOS TERMOS E CONDIÇÕES DE USO DO BANCO DE
                    DADOS ATRAVES DO APLICATIVO QUE INTERLIGA PROFISSIONAIS E EMPRESAS DO RAMO DE BELEZA.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>&nbsp;</span></p>

            <p class=MsoListParagraph style='margin-left:14.2pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-14.2pt'><b><span
                        style='font-size:
    12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>1-<span
                            style='font:7.0pt "Times New Roman"'>
                        </span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>DAS
                        PARTES</span></b></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>SARAH
                        MARIA DE AQUINO PIRES</span></b><span style='font-size:12.0pt;line-height:115%;
    font-family:"Century Gothic",sans-serif'>,
                    pessoa jurídica de direito privado,
                    inscrita no cadastro nacional de pessoa jurídica (CNPJ) sob o nº
                    15.600.517/0001-99, com sede na Rua Janio Quadros, nº 30, Amaralina, CEP nº
                    41.900-340, Salvador Bahia, E-mail: </span><a href="mailto:Sarah@belezamaisforte.com.br"><span
                        style='font-size:12.0pt;
    line-height:115%;font-family:"Century Gothic",sans-serif'>Sarah@belezamaisforte.com.br</span></a><span
                    style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>,
                    Tel 071 99182-0303, doravante denominada <b>BELEZA MAIS FORTE</b>; </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>CLIENTE</span></b><span
                    style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>,
                </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>Que
                    pelo presente instrumento de adesão, reconhece o cliente que, sendo maior de 18
                    anos, ao concordar com o aceite eletrônico neste instrumento, na qualidade de
                    CLIENTE, aderindo e aceitando todos os termos e condições gerais de uso e todas
                    políticas e princípios, sem qualquer ressalva, que regem o aplicativo <b>BELEZA
                        MAIS FORTE</b> conforme definição abaixo, para todos os efeitos da legislação
                    vigente.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>O
                    presente contrato atende em exatidão as determinações contidas no Decreto
                    Federal 7.962 de 15 de março de 2013, bem como a Lei Federal 8.078 de 1990 e
                    destinasse a regulamentação entre <b>A PLATAFORMA BELEZA MAIS FORTE</b> e O <b>CLIENTE.</b></span></p>

            <p class=MsoListParagraph style='margin-left:14.2pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-14.2pt'><span
                    style='font-size:12.0pt;
    line-height:115%;font-family:"Century Gothic",sans-serif'>2-<span
                        style='font:7.0pt "Times New Roman"'>&nbsp;
                    </span></span><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>OBJETO
                        DO CONTRATO</span></b><span style='font-size:12.0pt;line-height:115%;
    font-family:"Century Gothic",sans-serif'>:
                </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>Para
                    que não sujam dúvidas sob os efeitos deste Contrato de Adesão aplicam-se as
                    seguintes definições: </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>CLIENTE:
                    Qualquer Pessoa Física ou Jurídica que esteja contratando os serviços da <b>PLATAFORMA
                        BELEZA MAIS FORTE</b>, mediante aceitação deste Contrato de Adesão, da Política
                    de Privacidade e pagamento do plano aderido; </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>PLATAFORMA
                        BELEZA MAIS FORTE</span></b><span style='font-size:12.0pt;line-height:115%;
    font-family:"Century Gothic",sans-serif'>,
                    Objeto deste Contrato, fornecerá o
                    serviço no aplicativo no formato “software como serviço” fornecido pela
                    PLATAFORMA BELEZA MAIS FORTE, desenvolvido pela empresa Alyson Mendonça de
                    Freitas CNPJ 25.196.532/0001-77, que auxilia na administração e manutenção de
                    um aplicativo que visa ser uma ferramenta que disponibiliza a interação entre
                    profissionais que cadastram o seu currículo e as empresas do ramo de beleza.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>Além
                    desta modalidade que faz comunicação entre profissionais e empresas, a
                    PLATAFORMA BELEZMAIS FORTE visa também oferecer aos seus clientes espaço para
                    divulgação de seus produtos e serviços e eventos.</span></p>

            <p class=MsoListParagraphCxSpFirst style='margin-left:14.2pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-14.2pt'><b><span
                        style='font-size:
    12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>3-<span
                            style='font:7.0pt "Times New Roman"'>
                        </span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>FORMA
                        DE CONTRATAÇÃO.</span></b></p>

            <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-justify:
    inter-ideograph'><span
                    style='font-size:12.0pt;line-height:115%;font-family:
    "Century Gothic",sans-serif'>&nbsp;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-left:0cm;text-align:justify;
    text-justify:inter-ideograph'><span
                    style='font-size:12.0pt;line-height:115%;
    font-family:"Century Gothic",sans-serif'>Os Clientes
                    acessarão
                    o aplicativo
                    disponível em uma loja virtual, no formato ANDROIDE ou OS, e ao clicar no
                    aplicativo na PLATAFORMA BELEZA MAIS FORTE o CLIENTE autoriza expressamente
                    receber um link para baixar sua versão do APLICATIVO BELEZA MAIS FORTE.</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-left:0cm;text-align:justify;
    text-justify:inter-ideograph'><span
                    style='font-size:12.0pt;line-height:115%;
    font-family:"Century Gothic",sans-serif'>&nbsp;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-left:0cm;text-align:justify;
    text-justify:inter-ideograph'><span
                    style='font-size:12.0pt;line-height:115%;
    font-family:"Century Gothic",sans-serif'> A
                    PLATAFORMA BELEZA
                    MAIS FORTE não
                    endossa tais produtos, serviços, conteúdos, notícias, informações e dados
                    operados por terceiros e não se responsabiliza por qualquer transação relativa
                    a eles, ou por qualquer consequência que possa advir do uso desses produtos,
                    serviços, conteúdos, notícias, informações e dados operados pelo CLIENTE. </span></p>

            <p class=MsoListParagraphCxSpLast style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>&nbsp;</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> Para
                    o uso dos serviços disponibilizados pela PLATAFORMA BELEZA MAIS FORTE o CLIENTE
                    deverá fornecer seus dados pessoais para cadastramento, sendo essencial para
                    tanto, preencher todos os campos de forma completa, clara e precisa. Caso
                    contrário não conseguirá se cadastrar no aplicativo para usar os serviços
                    disponibilizados.</span></p>

            <p class=MsoListParagraph style='margin-left:14.2pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-14.2pt'><b><span
                        style='font-size:
    12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>4-<span
                            style='font:7.0pt "Times New Roman"'>
                        </span></span></b><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> DA
                        CONTRATAÇÃO – TAXA DE ADESÃO E MENSALIDADE: </span></b></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>O
                    presente contrato não terá prazo determinado, e vigorará enquanto as partes
                    cumprirem com suas respectivas obrigações previstas no mesmo. 4.3</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>4.1
                    O CLIENTE autoriza a instituição financeira PAGSEGURO a efetuar a cobrança de
                    acordo com o plano de pagamento escolhido através do aceite indicado no termo.
                    Ficando a PLATAFORMA BELEZA MAIS FORTE isenta de qualquer responsabilidade e
                    obrigatoriedade com relação a autorização ao pagamento com cartão de credito ou
                    débito em conta bancária. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>4.2.
                    O não pagamento da mensalidade será considerado como desistência na contratação
                    do serviço e cancelamento do mesmo, acarretando na suspensão do acesso à
                    PLATAFORMA BELEZA MAIS FORTE pelo CLIENTE até a devida regulamentação. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>4.3.
                    A continuidade da prestação de serviços que disponibilidade das informações
                    para os clientes estão condicionadas ao pagamento da Mensalidade. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>5-
                        LIMITAÇÃO DE RESPONSABILIDADE</span></b><span style='font-size:12.0pt;
    line-height:115%;font-family:"Century Gothic",sans-serif'>:
                </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>5.1.
                    Ao aderir ao presente contrato, o CLIENTE declara entender e concordar que a PLATAFORMA
                    BELEZA MAIS FORTE <b><u>é apenas e tão somente a fornecedora dos sistemas</u></b>,
                    não sendo em nenhuma hipótese corresponsável por quaisquer conteúdos, produtos,
                    ofertas, prêmios, benefícios, descontos ou outras vantagens oferecidas pelos
                    CLIENTES.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 5.2
                    A PLATAFORMA BELEZA MAIS FORTE não poderá ser responsabilizada por falhas no
                    sistema de telecomunicação, internet ou outros que impeçam ou retardem o contato
                    entre o CLIENTE, em especial, quando se tratar de defeitos ou interrupções
                    diretas dos prestadores de serviços direcionados aos próprios CLIENTE.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>5.3
                    Dentro desta perspectiva A PLATAFORMA BELEZA MAIS FORTE não se responsabiliza
                    por qualquer troca de dados que ocorrer entre CLIENTE, que possa ocasionar
                    danos (como envio de vírus, mensagens indevidas ou não, ligações transferência
                    de dados ou arquivos), na exata medida que não interferira ou mesmo atuara nos contatos
                    mantidos entre os CLIENTES. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>5.4
                    A PLATAFORMA BELEZA MAIS FORTE não poderá ser responsabilizada por erros e
                    inconsistências no fornecimento de informações cadastrais do CLIENTE.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>5.5.
                    A PLATAFORMA BELEZA MAIS FORTE não poderá ser responsabilizada por qualquer
                    erro ou atraso na remoção de conteúdo impreciso, ilícito ou censurável, ao seu
                    exclusivo critério, proveniente de terceiros ou mesmo no caso de invasão
                    indevida de da PLATAFORMA BELEZA MAIS FORTE (Hackers ou congêneres).</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 5.6.
                    A PLATAFORMA BELEZAMAISFORTE não se responsabilizará pelo CLIENTE que de forma
                    culposa ou dolosa apresente-se como profissional.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>5.7.
                    Fica facultado à PLATAFORMA BELEZAMAIS FORTE notificar o CLIENTE no prazo de
                    até 30 dias sobre a efetiva interrupção dos serviços prestados.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 6-
                        POLÍTICA DE PRIVACIDADE:</span></b></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 6.1.
                    A garantia à privacidade das informações do CLIENTE na PLATAFORMA BELEZA MAIS
                    FORTE é um comprometimento da mesma.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 6.2.
                    A PLATAFORMA BELEZA MAIS FORTE poderá fornecer informação a terceiros sem previa
                    autorização do CLIENTE, incluindo casos de interesse comercial, ou onde seja
                    necessário para responder às solicitações ou perguntas de entidades governamentais,
                    e nos casos onde  A PLATAFORMA BELEZA MAIS FORTE entender que é necessária a
                    sua divulgação com o propósito de responder às reclamações de que o conteúdo
                    submetido infrinja direitos de terceiros ou que seja necessária para o proteção
                    de direitos, propriedades ou segurança da PLATAFORMA BELEZA MAIS FORTE  de seus
                    CLIENTES e público em geral. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>6.3.
                    As informações adicionais coletadas pela PLATAFORMA BELEZA MAIS FORTE através
                    de análise da navegação de cada CLIENTE que não o torne identificável tonam-se
                    propriedades exclusivas PLATAFORMA BELEZA MAIS FORTE. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 6.4.
                    As informações cedidas pelos CLIENTES e registradas, devido ao uso do
                    aplicativo, (com exceção ao conteúdo de mensagens pessoais) poderão ser
                    utilizadas pela PLATAFORMA BELEZA MAIS FORTE como insumos para mapeamento de
                    formação de mercado e levantamento de estatísticas. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>6.5.
                    As informações fornecidas são usadas para: </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>(I)
                    administrar as contas do CLIENTE a fim de customizar cada vez mais os serviços
                    fornecidos; </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>(II)
                    comunicar novidades e atualizações.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 6.6.
                    A coleta de informações dos CLIENTES também será realizada através cookies. A
                    utilização de cookies servirá unicamente para permitir o acesso ao sistema sem
                    ter que fazer login, para armazenar informações de identificação e para análise
                    interna da PLATAFORMA BELEZA MAIS FORTE  </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 6.7.
                    É vedada qualquer forma de comercialização ou compartilhamento não autorizado
                    de informações obtidas através de cookies, no entanto poderão ser utilizadas
                    para localizar CLIENTE, que por algum motivo, realizar alguma conduta lesiva A
                    PLATAFORMA BELEZA MAIS FORTE ou a terceiros. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>6.8.
                    Além das informações pessoais fornecidas, A PLATAFORMA BELEZA MAIS FORTE tem a
                    capacidade tecnológicas de colher outras informações técnicas. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>6.9.
                    A PLATAFORMA BELEZA MAIS FORTE manterá os dados cadastrais dos CLIENTES que
                    cancelarem ou tiverem sua conta cancelada, por um prazo razoável, sem que
                    exceda os requeridos ou limitações legais. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> <b>7-
                        RECSISÃO E PENALIDADES:</b></span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'> 7.1
                    O Cliente poderá cancelar, a qualquer momento e mediante simples desativação da
                    PLATAFORMA BELEZA MAIS FORTE, ficando o acesso liberado até o fim do período do
                    plano de pagamento vigente. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>7.2.
                    Em caso de cancelamento, os CLIENTES perderão o acesso aos dados gravados
                    através do APLICATIVO da própria PLATAFORMA BELEZA MAIS FORTE.  </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>7.3.
                    Na hipótese de constatada a violação de qualquer clausula ou disposição dos
                    termos e condições do contrato ora celebrado pelo CLIENTE ou quando este agir
                    de forma que demonstre que não pretende ou que importe em fortes indícios que
                    não poderá cumprir essas disposições, A PLATAFORMA BELEZA MAIS FORTE poderá a
                    qualquer momento, sem aviso prévio, encerrar/reincidir o presente contrato para
                    todos os efeitos de direito, sujeitando o CLIENTE infrator ao pagamento de
                    perdas e danos materiais e morais que der causa, a título de pena, sejam eles
                    sofridos pela PLATAFORMA BELEZA MAIS FORTE ou terceiros, bem como multa de 20%
                    do valor contratado. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>8-
                        DAS CONDIÇÕES GERAIS </span></b></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>8.1.
                    A PLATAFORMA BELEZA MAIS FORTE poderá alterar a qualquer tempo de forma
                    unilateral e sem aviso prévio o conteúdo e as funcionalidades da mesma e de seu
                    aplicativo personalizado.</span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>8.2.
                    OS CLIENTES se comprometem a lerem e se atualizarem sobre quaisquer alterações
                    deste termo e dos demais dados atualizados pela PLATAFORMA BELEZA MAIS FORTE  </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>8.3.
                    Na hipótese de clausula, termo, ou disposição, bem como documentos vinculados
                    sejam declarados nulos, tal nulidade não afetará nenhuma outra previsão,
                    permanecendo todos os demais termos ou disposições e vigor. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>8.4.
                    A tolerância da PLATAFORMA BELEZA MAIS FORTE quanto ao não cumprimento de
                    qualquer ajuste aqui previsto não constituirá, nem será interpretado como
                    renúncia, novação ou alteração das previsões deste termo, e sim mera
                    liberalidade. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>8.5.
                    Quaisquer dúvidas, consultas ou reclamações especificamente com relação a este
                    Contrato de Adesão, devem ser encaminhadas por e-mail para </span><a href="mailto:sarah@belezamaisforte.com.br"><span
                        style='font-size:12.0pt;
    line-height:115%;font-family:"Century Gothic",sans-serif'>sarah@belezamaisforte.com.br</span></a></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>8.6.
                    Todos os direitos e propriedade intelectual, no tocante à PLATAFORMA BELEZA
                    MAIS FORTE, objeto do presente contrato, são e permanecerão na propriedade
                    exclusiva da contratada. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>9-
                        FORO</span></b><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>:
                </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>Caso
                    haja a necessidade de discussão no âmbito jurídico ou instauração de processo
                    jurídico, elegemos o Foro da Cidade de Salvador, Estado da Bahia. </span></p>

            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span style='font-size:12.0pt;line-height:115%;font-family:"Century Gothic",sans-serif'>NECESSÁRIO
                    POR TANTO QUE SEJAM LIDOS OS TERMOS A CIMA PARA QUE OS CLIENTES NÃO TENHAM
                    QUALQUER DÚVIDA SOBRE O PRODUTO/SERVIÇO CONTRATADO. AO PROCEDER COM TODOS OS
                    PROCEDIMENTOS CADASTRAL E CLICAR QUE CONCORDA COM AS CONDIÇÕES, SUA CONDUTA
                    CORRESPONDE A ATO VIRTUAL DA ASSINATURA E ACEITAÇÃO INTEGRAL DESTE INSTRUMENTO,
                    NÃO PODENDO QUALQUER DAS PARTES ALEGAR DESCONHECIMENTO DE SEUS TERMOS.</span></p>

        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="item item-toggle">
            <span>Li e aceito os termos do contrato</span>
            <label class="toggle toggle-theme">
                <input type="checkbox" ng-model="contrato" ng-change="aceitar()">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
    </div>
</ion-view>