<ion-view title="Equipamentos" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="equipamentos-form9" class="list">
      <ion-item class="item-divider" id="equipamentos-list-item-divider19"> Selecione o equipamento:</ion-item>
      <label class="item item-select" id="equipamentos-select14">
        <span class="input-label">Item</span>
        <select></select>
      </label>
    </form>
    <a ui-sref="menu.perfil()" id="equipamentos-button13" class="button button-positive button-block">Adicionar</a>
  </ion-content>
</ion-view>