<ion-view title="Equipamentos" id="page10" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <ion-item class="item-divider" id="equipamentos-list-item-divider19"> Selecione o equipamento:</ion-item>
      <label class="item item-select item-stacked">
        <select ng-options="x as x.Descricao for x in equipamentos" ng-model="form.Equipamento">
          <option value="">Selecione...</option>
        </select>
      </label>
    </form>
    <a id="equipamentos-button13" ng-click="adicionarEquipamentos()" class="button button-positive button-block">Adicionar</a>
  </ion-content>
</ion-view>