<ion-view title="Experiências" id="page12" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <ion-list id="experiNcias-list9">
      <ion-item class="item-divider" id="experiNcias-list-item-divider17"> Experiência Profissional</ion-item>
      <label class="item item-input item-stacked-label" id="experiNcias-input31">
        <span class="input-label">Nome do Estabelecimento</span>
        <input type="text" ng-model="form.Empresa" placeholder="">
      </label>
      <label class="item item-select item-stacked">
        <span class="input-label">Profissão</span>
        <select ng-options="x as x.Descricao for x in profissoes" ng-model="form.Profissao">
          <option value="">Selecione...</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" id="experiNcias-input32">
        <span class="input-label">Telefone</span>
        <input type="text" ui-mask="(99) 99999-9999" ng-model="form.Telefone" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="experiNcias-input34">
        <span class="input-label">Data Inicial</span>
        <input type="text" ui-mask="99/99/9999" ng-model="form.DataInicial" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="experiNcias-input33">
        <span class="input-label">Data Final</span>
        <input type="text" ui-mask="99/99/9999" ng-model="form.DataFinal" placeholder="">
      </label>
    </ion-list>
    <a id="experiNcias-button15" ng-click="adicionarExperiencia()" class="button button-positive button-block">Adicionar</a>
  </ion-content>
</ion-view>