<ion-view title="Experiências" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="experiNcias-list9">
      <ion-item class="item-divider" id="experiNcias-list-item-divider17"> Experiência Profissional</ion-item>
      <label class="item item-input item-stacked-label" id="experiNcias-input31">
        <span class="input-label">Nome do Estabelecimento</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="experiNcias-input32">
        <span class="input-label">Telefone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="experiNcias-select12">
        <span class="input-label">Profissão</span>
        <select></select>
      </label>
      <label class="item item-select" id="experiNcias-select13">
        <span class="input-label">Disponibilidade</span>
        <select></select>
      </label>
      <label class="item item-input item-stacked-label" id="experiNcias-input34">
        <span class="input-label">Data Inicial</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="experiNcias-input33">
        <span class="input-label">Data Final</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="experiNcias-list-item-divider22"> Descreva sua experiência:</ion-item>
      <label class="item item-input" id="experiNcias-textarea1">
        <span class="input-label">Descrição</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <a ui-sref="menu.perfil()" id="experiNcias-button15" class="button button-positive button-block">Adicionar</a>
  </ion-content>
</ion-view>