<ion-view title="Fale conosco" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="faleConosco-heading3" style="color:#000000;">Fale conosco</h3>
    <div id="faleConosco-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Duvidas, sugestões, elogios, entre em contato conosco!</p>
    </div>
    <form id="faleConosco-form4" class="list">
      <label class="item item-input item-stacked-label" id="faleConosco-input7">
        <span class="input-label">Seu nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="faleConosco-input8">
        <span class="input-label">Seu e-mail</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="faleConosco-input9">
        <span class="input-label">Seu telefone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="faleConosco-input10">
        <span class="input-label">Sua mensagem</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.belezaMaisForte()" id="faleConosco-button8" class="button button-positive button-block">Enviar</a>
  </ion-content>
</ion-view>