<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar" id="menu-list-item1" ui-sref="menu.perfil()" menu-close="">
          <h2>Nome usuário</h2>
          <p>Profissão</p>
        </ion-item>
        <ion-item id="menu-list-item13" ui-sref="menu.belezaMaisForte()" menu-close="">Início</ion-item>
        <ion-item id="menu-list-item65" ui-sref="menu.buscarProfissionais()" menu-close="">Buscar Profissionais</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.meusBanners()" menu-close="">Meus Banners</ion-item>
        <ion-item id="menu-list-item19" ui-sref="menu.publicarBanner()" menu-close="">Publicar Banner</ion-item>
        <ion-item id="menu-list-item11" ui-sref="menu.assinaturas()" menu-close="">Assinatura</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.faleConosco()" menu-close="">Fale Conosco</ion-item>
        <ion-item id="menu-list-item9" ui-sref="menu.login()" menu-close="">Login</ion-item>
        <ion-item id="menu-list-item10" ui-sref="menu.perfil()" menu-close="">Registre-se</ion-item>
        <ion-item class="assertive" id="menu-list-item12" ui-sref="menu.belezaMaisForte()" menu-close="">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>