<ion-view title="Meu Contador" id="page15" ng-init="init()">
    <ion-content padding="true" class="has-header">
        <h3>Meu Contador</h3>
        <div class="show-list-numbers-and-dots">
            <p>Profissional da beleza, solicite serviços contábeis com facilidade e comodidade!</p>
        </div>
        <a ng-click="servicos()" class="button button-positive button-block button-outline">Minhas Solicitações</a>
        <hr />
        <a ng-click="goto('MEI')" class="button button-positive button-block button-outline">Abertura de MEI</a>
        <a ng-click="goto('DAS')" class="button button-positive button-block button-outline">Solicitação de DAS</a>
        <a ng-click="goto('NFE')" class="button button-positive button-block button-outline">Emitir de Nota Fiscal</a>
        <a ng-click="goto('SME')" class="button button-positive button-block button-outline">Declaração Anual (SIMEI)</a>
        <a ng-click="goto('REG')" class="button button-positive button-block button-outline">Regularizar MEI</a>
        <a ng-click="goto('MAT')" class="button button-positive button-block button-outline">Solicitar Licença
            Maternidade</a>
        <a ng-click="goto('AUX')" class="button button-positive button-block button-outline">Solicitar Auxílio Doença</a>
    </ion-content>
</ion-view>