<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list>
        <ion-item class="item-avatar my-profile-menu" ng-if="loggedIn" ui-sref="menu.perfil()" menu-close="">
          <img ng-src="{{getPhotoLista()}}">
          <h2>Nome usuário</h2>
          <p>Profissão</p>
        </ion-item>
        <ion-item ng-click="go('menu.start')" menu-close="">Início</ion-item>
        <ion-item ng-click="go('menu.buscar')" ng-if="loggedIn" menu-close="">Buscar Profissionais</ion-item>
        <ion-item ng-click="go('menu.banners')" ng-if="loggedIn" menu-close="">Meus Banners</ion-item>
        <ion-item ng-click="go('menu.publicar')" ng-if="loggedIn" menu-close="">Publicar Banner</ion-item>
        <ion-item ng-click="assinaturaGo()" ng-if="loggedIn" menu-close="">Assinaturas</ion-item>
        <ion-item ng-click="go('menu.pagamentos')" ng-if="loggedIn" menu-close="">Pagamentos</ion-item>
        <ion-item ng-click="go('menu.contato')" menu-close="">Fale Conosco</ion-item>
        <ion-item ng-click="go('menu.login')" ng-if="!loggedIn" menu-close="">Entrar</ion-item>
        <ion-item ng-click="go('menu.perfil')" ng-if="!loggedIn" menu-close="">Registre-se</ion-item>
        <ion-item class="assertive" ng-if="loggedIn" ng-click="logout()" menu-close="">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>