<ion-view title="Meus Banners" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="meusBanners-button-bar2" class="button-bar"></div>
    <ion-list id="meusBanners-list2">
      <ion-item class="item-divider" id="meusBanners-list-item-divider2"> Em espera</ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="meusBanners-list-item15">
        <h2>Oktoberfest</h2>
        <p>10/10/2018</p>
        <i class="icon ion-android-delete"></i>
      </ion-item>
      <ion-item class="item-divider" id="meusBanners-list-item-divider3"> Em exibição</ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="meusBanners-list-item18">
        <h2>Oktoberfest</h2>
        <p style="white-space:normal;">10/10/2018</p>
        <i class="icon ion-android-delete"></i>
      </ion-item>
    </ion-list>
    <ion-list id="meusBanners-list3">
      <ion-item class="item-divider" id="meusBanners-list-item-divider4"> Expirados</ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="meusBanners-list-item20">
        <h2>Oktoberfest</h2>
        <p style="white-space:normal;">10/10/2018</p>
        <i class="icon ion-android-delete"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.publicarBanner()" id="meusBanners-button9" class="button button-positive button-block">Publicar Banner</a>
  </ion-content>
</ion-view>