<ion-view title="Minhas Solicitações" id="page14" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <div ng-hide="loading || solicitacoes.length > 0">
      <h3>Não há registros</h3>
      <div class="show-list-numbers-and-dots">
        <p>Não existem serviços solicitados vinculados a sua conta de usuário.</p>
      </div>
    </div>
    <ion-list>
      <div class="card" ng-repeat="solicitacao in solicitacoes">
        <ion-item class="item-divider item-icon-right">
          <i class="icon ion-more" ng-click="showAction(solicitacao, $index)"></i>
          {{solicitacao.TipoServicoFormatado}}
        </ion-item>
        <ion-item ng-click="pagar(solicitacao)">
          <h2>{{solicitacao.NomeCompleto}}</h2>
          <p class="text-muted">{{solicitacao.Email}}</p>
          <p class="text-muted">{{solicitacao.Telefone}}</p>
          <span class="text-muted">{{solicitacao.DataSolicitacao}}</span>
          <span class="text-muted item-note reset-badge"><span class="badge {{getBadgeClass(solicitacao)}}">Situação - {{solicitacao.SituacaoFormatada}}</span></span>
          <span class="text-muted item-note reset-badge"><span class="badge {{getBadgeClass(solicitacao)}}">Pagamento - {{solicitacao.SituacaoPagamentoFormatada}}</span></span>
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll on-infinite="onInfinite()" ng-hide="true" distance="50px"></ion-infinite-scroll>
  </ion-content>
</ion-view>