<ion-view title="Minha Assinatura" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="minhaAssinatura-list12">
      <ion-item class="item-divider" id="minhaAssinatura-list-item-divider24"> Dados de Renovação</ion-item>
    </ion-list>
    <ion-list id="minhaAssinatura-list13">
      <ion-item id="minhaAssinatura-list-item56">Plano 30 dias
        <span class="item-note">R$ 25,00</span>
      </ion-item>
      <ion-item id="minhaAssinatura-list-item57">Proxima renovação
        <span class="item-note">10/10/2018</span>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.belezaMaisForte()" id="minhaAssinatura-button23" class="button button-assertive button-block">Cancelar Assinatura</a>
  </ion-content>
</ion-view>