<ion-view title="Perfil" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="perfil-heading5" style="color:#000000;">Seu perfil</h1>
    <div id="perfil-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Selecione uma foto para seu perfil</p>
    </div>
    <form id="perfil-form5" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-list id="perfil-list4">
        <ion-item class="item-divider" id="perfil-list-item-divider5"> Cadastro básico</ion-item>
        <label class="item item-input item-stacked-label" id="perfil-input11">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input14">
          <span class="input-label">CPF / CNPJ</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input15">
          <span class="input-label">Razão social</span>
          <input type="text" placeholder="">
        </label>
        <ion-item class="item-divider" id="perfil-list-item-divider6"> Acesso</ion-item>
        <label class="item item-input item-stacked-label" id="perfil-input17">
          <span class="input-label">Celular</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input16">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input13">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
        <ion-item class="item-divider" id="perfil-list-item-divider8"> </ion-item>
        <ion-toggle toggle-class="toggle-positive" id="perfil-toggle1">Sou profissional</ion-toggle>
        <ion-item class="item-divider" id="perfil-list-item-divider11"> Currículo</ion-item>
        <label class="item item-select" id="perfil-select7">
          <span class="input-label">Profissão</span>
          <select></select>
        </label>
        <label class="item item-select" id="perfil-select8">
          <span class="input-label">Disponibilidade</span>
          <select></select>
        </label>
        <label class="item item-select" id="perfil-select9">
          <span class="input-label">Sexo</span>
          <select></select>
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input18">
          <span class="input-label">Data de nascimento</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input19">
          <span class="input-label">Tempo de experiência</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input20">
          <span class="input-label">Pretensão salarial</span>
          <input type="text" placeholder="">
        </label>
        <ion-item class="item-divider" id="perfil-list-item-divider9"> Informações adicionais</ion-item>
        <ion-toggle toggle-class="toggle-positive" id="perfil-toggle2">Conhece a lei do salão parceiro?</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="perfil-toggle3">Sabe o que é biossegurança?</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="perfil-toggle4">Sabe o que é EPI?</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="perfil-toggle5">Possui MEI</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="perfil-toggle6">Interesse em ser diarista?</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="perfil-toggle7">Tem filhos?</ion-toggle>
        <ion-item class="item-divider" id="perfil-list-item-divider10"> Endereço</ion-item>
        <label class="item item-input item-stacked-label" id="perfil-input21">
          <span class="input-label">CEP</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="perfil-select10">
          <span class="input-label">Estado</span>
          <select></select>
        </label>
        <label class="item item-select" id="perfil-select11">
          <span class="input-label">Cidade</span>
          <select></select>
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input24">
          <span class="input-label">Bairro</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="perfil-input25">
          <span class="input-label">Logradouro</span>
          <input type="text" placeholder="">
        </label>
        <ion-item class="item-divider" id="perfil-list-item-divider12"> Equipamentos</ion-item>
        <ion-item class="item-icon-left" id="perfil-list-item33" ui-sref="menu.equipamentos()">
          <i class="icon ion-android-add"></i>Equipamento</ion-item>
        <ion-item class="item-icon-left item-icon-right" id="perfil-list-item14">
          <i class="icon No Icon"></i>Tesoura
          <i class="icon ion-android-delete"></i>
        </ion-item>
        <ion-item class="item-divider" id="perfil-list-item-divider13"> Certificados</ion-item>
        <ion-item class="item-icon-left" id="perfil-list-item34" ui-sref="menu.certificados()">
          <i class="icon ion-android-add"></i>Certificado</ion-item>
        <ion-item class="item-icon-left item-icon-right" id="perfil-list-item17">
          <i class="icon No Icon"></i>Maquiadora nível 1
          <i class="icon ion-android-delete"></i>
        </ion-item>
        <ion-item class="item-divider" id="perfil-list-item-divider14"> Experiências profissionais</ion-item>
        <ion-item class="item-icon-left" id="perfil-list-item35" ui-sref="menu.experiNcias()">
          <i class="icon ion-android-add"></i>Experiência</ion-item>
      </ion-list>
      <ion-item class="item-icon-left item-icon-right" id="perfil-list-item21">
        <i class="icon No Icon"></i>Maquiadora - 2 anos
        <i class="icon ion-android-delete"></i>
      </ion-item>
      <button id="perfil-button16" class="button button-positive button-block">Registrar</button>
    </form>
  </ion-content>
</ion-view>