<ion-view title="Perfil" id="page7" ng-init="init()">
    <ion-content class="has-header">
        <div class="profile-heading">
            <img class="profile-bg" src="imgs/profile-bg.jpg" />
            <div class="item-content">
                <img ng-src="imgs/user.png" src="imgs/user.png">
                <h2 class="ng-binding">Alyson Freitas</h2>
                <p class="ng-binding">Manicure</p>
            </div>
        </div>
        <div class="perfil">
            <ion-list id="perfil-list4">
                <ion-item class="item-divider"> Contato</ion-item>
                <ion-item class="item-icon-right">
                    <span>Celular</span>
                    <p>(71) 99287-0597</p>
                    <i class="icon ion-ios-telephone-outline icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>E-mail</span>
                    <p>alys.freitas@gmail.com</p>
                    <i class="icon ion-ios-email-outline icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider"> Currículo</ion-item>
                <ion-item class="item-icon-right">
                    <span>Profissão</span>
                    <p>Manicure</p>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>Disponibilidade</span>
                    <p>Segunda a sexta</p>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item">
                    <span>Sexo</span>
                    <span class="item-note">Masculino</span>
                </ion-item>
                <ion-item class="item">
                    <span>Nascimento</span>
                    <span class="item-note">26/09/1990</span>
                </ion-item>
                <ion-item class="item">
                    <span>Experiencia</span>
                    <span class="item-note">4 anos</span>
                </ion-item>
                <ion-item class="item">
                    <span>Pretensão</span>
                    <span class="item-note">R$ 400,00</span>
                </ion-item>
                <ion-item class="item-divider"> Informações adicionais</ion-item>
                <ion-item class="item-icon-right">
                    <span>Conhece a lei do salão parceiro?</span>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>Sabe o que é biossegurança?</span>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>Sabe o que é EPI?</span>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>Possui MEI</span>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>Faz Delivery</span>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>Tem Filhos?</span>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider"> Endereço</ion-item>
                <ion-item class="item">
                    <span>Estado</span>
                    <span class="item-note">Bahia</span>
                </ion-item>
                <ion-item class="item">
                    <span>Cidade</span>
                    <span class="item-note">Salvador</span>
                </ion-item>
                <ion-item class="item">
                    <span>Bairro</span>
                    <span class="item-note">Imbui</span>
                </ion-item>
                <ion-item class="item">
                    <span>Logradouro</span>
                    <span class="item-note">Rua das gaivotas</span>
                </ion-item>
                <ion-item class="item-divider"> Equipamentos</ion-item>
                <ion-item class="item-icon-right">
                    <span>Tesoura</span>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider"> Certificados</ion-item>
                <ion-item class="item-icon-right">
                    <span>Formação</span>
                    <p>Designer de sombrancelhas</p>
                    <i class="icon ion-ios-compose-outline icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right">
                    <span>Especialização</span>
                    <p>Designer de sombrancelhas</p>
                    <i class="icon ion-ios-compose-outline icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider"> Experiências profissionais</ion-item>
                <ion-item class="item-icon-right">
                    <span>BIBI TELES DESIGN & STILO</span>
                    <p>Manicure</p>
                    <p>(71) 00000-0000</p>
                    <p>01/11/2018 até 01/01/2019</p>
                    <i class="icon ion-android-checkmark-circle icon-accessory"></i>
                </ion-item>
            </ion-list>
            <button class="button button-positive button-block">ENTRAR EM CONTATO</button>
        </div>
    </ion-content>
</ion-view>