<ion-view title="Profissionais" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="profissionais-card22">
      <ion-item class="item-avatar" id="profissionais-list-item25" ui-sref="menu.perfil()">
        <h2>Carla Santos Nascimento</h2>
        <p>Manicure</p>
      </ion-item>
      <div class="item item-body" id="profissionais-list-item-container4">
        <div id="profissionais-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3D3D3D;">5 anos de experiência</p>
        </div>
        <div id="profissionais-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3D3D3D;">Salvador - Imbui</p>
        </div>
        <div id="profissionais-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3D3D3D;">Segunda a Sexta</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>