<ion-view title="Profissionais" ng-init="init()">
  <ion-content padding="true" class="has-header" on-scroll="checkScroll()">
    <div id="preloader" ng-if="loading && profissionais.length == 0">
      <div class="preloader" style="background-size: cover;"></div>
    </div>
    <div ng-hide="loading" ng-if="profissionais.length == 0">
      <h3>Desculpe, não achamos :(</h3>
      <div class="show-list-numbers-and-dots">
        <p>Não conseguimos identificar profissionais baseados no seu critério de busca, tente
          novamente.</p>
      </div>
      <a ui-sref="menu.buscar()" class="button button-positive button-block">Refinar busca</a>
    </div>
    <div ng-hide="loading && profissionais.length == 0" ng-if="profissionais.length > 0">
      <h3>Profissionais encontrados</h3>
      <div class="show-list-numbers-and-dots">
        <p>Selecionamos os seguintes profissionais baseados no seu critério de busca!</p>
      </div>
      <div class="list">
        <div class="card profissional" ng-repeat="profissional in profissionais">
          <div class="item-profissional">
            <div class="profile-heading">
              <img class="profile-bg" src="imgs/profile-bg.jpg" />
              <div class="item-content">
                <img ng-src="{{getPhotoLista(profissional)}}">
                <h2 class="ng-binding">{{profissional.Nome}}</h2>
                <p class="ng-binding">{{profissional.Curriculo.ProfissaoFormatada}}</p>
              </div>
            </div>
            <ion-item class="item-icon-right">
              <span>{{profissional.Curriculo.DisponibilidadeFormatada}}</span>
              <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right">
              <span>{{profissional.Cidade.Nome}}, {{profissional.Cidade.EstadoSigla}}</span>
              <i class="icon ion-ios-location-outline icon-accessory"></i>
            </ion-item>
            <ion-item ng-if="profissional.Curriculo.FlagDelivery" class="item-icon-right">
              <span>Faz Delivery</span>
              <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item">
              <span>Experiencia</span>
              <span class="item-note">{{profissional.Curriculo.TempoExperiencia}} anos</span>
            </ion-item>
            <ion-item class="item">
              <span>Pretensão</span>
              <span class="item-note">{{profissional.Curriculo.PretensaoSalarialFormatada}}</span>
            </ion-item>
            <a href="javascript:void(0)" ng-click="perfil(profissional)" class="button button-positive button-block">VER
              PERFIL</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>