<ion-view title="Publicar Banner" id="page2" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <h3>Publicar banner</h3>
    <div class="show-list-numbers-and-dots">
      <p>Selecione uma imagem para o banner</p>
    </div>
    <div class="banner-img-holder" hide-input>
      <input type="file" file-change="uploadPhoto" accept="image/jpeg"/>
      <img src="{{getPhoto()}}">
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Titulo</span>
        <input type="text" ng-model="form.Titulo" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Descrição</span>
        <input type="text" ng-model="form.Descricao" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Data de estreia</span>
        <input type="text" ng-model="form.Estreia" placeholder="">
      </label>
      <div id="publicarBanner-button-bar1" class="button-bar">
        <button ng-click="mudarTipo(0)" class="button button-positive button-block {{ form.IdTipoAcao != 0 ? 'button-outline' : '' }}">Link</button>
        <button ng-click="mudarTipo(1)" class="button button-positive button-block {{ form.IdTipoAcao != 1 ? 'button-outline' : '' }}">Telefone</button>
      </div>
      <label class="item item-input item-stacked-label" ng-if="form.IdTipoAcao==0">
        <span class="input-label">Link</span>
        <input type="text"  ng-model="form.Link" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" ng-if="form.IdTipoAcao==1">
          <span class="input-label">Telefone</span>
          <input type="text" ng-model="form.Telefone"  placeholder="">
        </label>
      <label class="item item-select item-stacked">
        <span class="input-label">Plano</span>
        <select ng-options="x.Id as x.Descricao for x in planos" ng-model="form.IdPlano">
          <option value="">Selecione um plano...</option>
        </select>
      </label>
      <a ng-click="salvar()" class="button button-positive button-block">Publicar</a>
    </div>
  </ion-content>
</ion-view>