<ion-view title="Beleza + Forte" id="page1" ng-init="init()">
  <ion-content padding="true" class="has-header" on-scroll="checkScroll()">
    <div class="card mt-0">
      <div class="item item-text-wrap">
        <span>Total de usuários</span>
        <strong class="pull-right">{{total}}</strong>
      </div>
    </div>
    <div class="list" ng-hide="loading && banners.length==0">
      <div class="card" ng-repeat="banner in banners">
        <div ng-include="'templates/card-banner.html'"></div>
      </div>
    </div>
  </ion-content>
</ion-view>