<ion-view title="Beleza + Forte" id="page1" ng-init="init()">
  <ion-content padding="true" class="has-header">
    <div id="preloader" ng-if="loading">
      <div class="preloader" style="background-size: cover;"></div>
    </div>
    <div class="list" id="banners-card21" ng-hide="loading">
      <div class="card" ng-repeat="banner in banners">
        <ion-item class="item-avatar">
          <img ng-src="{{getPhotoLista(banner.Cliente)}}">
          <h2>{{banner.Cliente.Nome}}</h2>
          <p class="text-muted">{{banner.Cliente.Email}}</p>
        </ion-item>
        <div class="banner-img">
          <img class="card-image" ng-src="{{getImage(banner.Imagem)}}" />
        </div>
        <h2 class="title">{{banner.Titulo}}</h2>
        <p class="subtitle">{{banner.Descricao}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>