<div id="page_content" ng-init="init()">
    <div id="page_content_inner">

        <div class="md-card">
            <div class="uk-sticky-placeholder">
                <div class="user_heading">
                    <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img class="custom" ng-src="{{getPhoto()}}" alt="user avatar">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div class="user_avatar_controls">
                            <span class="btn-file">
                                <span class="fileinput-new"><i class="material-icons"></i></span>
                                <span class="fileinput-exists"><i class="material-icons"></i></span>
                                <input type="file" file-change="uploadPhoto" name="user_edit_avatar_control" id="user_edit_avatar_control">
                            </span>
                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons"></i></a>
                        </div>
                    </div>
                    <div class="user_heading_content">
                        <h2 class="heading_b">
                            <span class="uk-text-truncate ng-binding" id="user_edit_uname">{{form.Nome}}</span>
                            <span class="sub-heading ng-binding">{{profissaoPrincipal()}}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Registro de Profissional
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-2-3">
                        <label>Nome <red>*</red></label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.Nome" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>CPF <red>*</red></label>
                        <input type="text" ui-mask="999.999.999-99" class="md-input label-fixed" ng-model="form.CPF" md-input />
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Profisão principal <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.IdProfissao" ng-options="item.Id as item.Descricao for item in profissoes" md-input>
                            <option value="">Selecione...</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Disponibilidade <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.IdDisponibilidade" ng-options="item.Id as item.Descricao for item in disponibilidades" md-input>
                            <option value="">Selecione...</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Sexo</label>
                        <select class="md-input label-fixed" ng-model="form.Sexo" md-input>
                            <option value="">Selecione...</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Data de nascimento</label>
                        <input type="text" ui-mask="99/99/9999" datepicker class="md-input uk-input" ng-model="form.Nascimento" md-input />
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Tempo de experiência <red>*</red></label>
                        <input type="text" integer class="md-input label-fixed" ng-model="form.TempoExperiencia" md-input />
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Pretensão salarial <red>*</red></label>
                        <input type="text" class="md-input label-fixed" ng-model="form.PretensaoSalarial" money-mask md-input />
                    </div>
                    <div class="uk-width-2-3 uk-grid-margin">
                        <label>Observações</label>
                        <input type="text" maxlength="500" class="md-input label-fixed" ng-model="form.Observacoes" md-input />
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Situação <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.Situacao" md-input>
                            <option value="True">Ativo</option>
                            <option value="False">Inativo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Informações extras
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">
                                <input type="checkbox" ng-model="form.FlagLeiSalaoParceiro" icheck />
                            </span>
                            <label>Conhece a lei do salão parceiro?</label>
                        </div>
                    </div>
                    <div class="uk-width-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">
                                <input type="checkbox" ng-model="form.FlagBiosseguranca" icheck />
                            </span>
                            <label>Sabe o que é biossegurança?</label>
                        </div>
                    </div>
                    <div class="uk-width-1-3">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">
                                <input type="checkbox" ng-model="form.FlagEpi" icheck />
                            </span>
                            <label>Sabe o que é EPI?</label>
                        </div>
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">
                                <input type="checkbox" ng-model="form.FlagMei" icheck />
                            </span>
                            <label>Possui MEI</label>
                        </div>
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">
                                <input type="checkbox" ng-model="form.FlagDiarista" icheck />
                            </span>
                            <label>Interesse em ser diarista?</label>
                        </div>
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">
                                <input type="checkbox" ng-model="form.FlagFilhos" icheck />
                            </span>
                            <label>Tem filhos?</label>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-grid-margin" ng-if="form.FlagFilhos">
                        <label>Os filhos ficam com quem?</label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.ObservacaoFilhos" md-input />
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Contatos e Acesso
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-2-3">
                        <label>E-mail <red>*</red></label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.Email" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>Senha <red>*</red></label>
                        <input type="password" class="md-input label-fixed" ng-model="form.Senha" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Telefone celular <red>*</red></label>
                        <input type="text" ui-mask="(99)99999-9999" maxlength="15" class="md-input uk-input" ng-model="form.TelefoneCelular" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Telefone comercial</label>
                        <input type="text" ui-mask="(99)9999-9999" maxlength="14" class="md-input uk-input" ng-model="form.TelefoneComercial" md-input />
                    </div>
                </div>
            </div>
        </div>


        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Endereço do profissional
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <label>CEP</label>
                        <input type="text" ui-mask="99999-999" class="md-input label-fixed" ng-model="form.CEP" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>Estado <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.IdEstado" ng-options="item.Id as item.Sigla for item in estados" ng-change="carregarCidades(form.IdEstado)" md-input>
                            <option value="">Selecione...</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        <label>Cidade <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.IdCidade" ng-disabled="!(form.IdEstado > 0)" ng-options="item.Id as item.Nome for item in cidades" md-input>
                            <option value="">Selecione...</option>
                        </select>
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Bairro</label>
                        <input type="text" maxlength="50" class="md-input label-fixed" ng-model="form.Bairro" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Logradouro</label>
                        <input type="text" maxlength="100" class="md-input label-fixed" ng-model="form.Logradouro" md-input />
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Equipamentos
                </h3>
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons" ng-click="openEquipamento()"></i>
                </div>
            </div>
            <div class="md-card-content" ng-if="form.Equipamentos.length > 0">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Equipamento</th>
                                <th class="acoes-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="element in form.Equipamentos">
                                <td>
                                    {{element.Equipamento.Descricao}}
                                </td>
                                <td>
                                    <a class="md-btn md-btn md-btn-small" title="Excluir" ng-confirm-click="removeEquipamento($index)" href="javascript:void(0)"><i class="material-icons md-icon-dark">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Certificados
                </h3>
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons" ng-click="openCertificado()"></i>
                </div>
            </div>
            <div class="md-card-content" ng-if="form.Certificados.length > 0">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Certificado</th>
                                <th class="acoes-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="element in form.Certificados">
                                <td>
                                    {{element.Certificado.Descricao}}
                                </td>
                                <td>
                                    <a class="md-btn md-btn md-btn-small" title="Excluir" ng-confirm-click="removeCertificado($index)" href="javascript:void(0)"><i class="material-icons md-icon-dark">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Experiências Profissionais <red>*</red>
                </h3>
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons" ng-click="openExperiencia()"></i>
                </div>
            </div>
            <div class="md-card-content" ng-if="form.Experiencias.length > 0">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Profissão</th>
                                <th>Disponibilidade</th>
                                <th>Inicio</th>
                                <th>Final</th>
                                <th class="acoes-2">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="element in form.Experiencias">
                                <td>
                                    {{element.Profissao.Descricao}}
                                </td>
                                <td>
                                    {{element.Disponibilidade.Descricao}}
                                </td>
                                <td>
                                    {{element.DataInicial}}
                                </td>
                                <td>
                                    {{element.DataFinal}}
                                </td>
                                <td>
                                    <a class="md-btn md-btn md-btn-small" title="Visualizar" ng-click="viewExperiencia($index)" href="javascript:void(0)"><i class="material-icons md-icon-dark">remove_red_eye</i></a>
                                    <a class="md-btn md-btn md-btn-small" title="Excluir" ng-confirm-click="removeExperiencia($index)" href="javascript:void(0)"><i class="material-icons md-icon-dark">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1">
                        <div class="uk-align-right">
                            <a class="md-btn md-btn-primary" ng-click="voltar()" href="javascript:void(0)">Voltar</a>
                            <a class="md-btn md-btn-primary" ng-click="salvar()" href="javascript:void(0)">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAIS -->

<div class="uk-modal" id="equipamento" aria-hidden="true">
    <div class="uk-modal-dialog">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Adicionar Equipamento
            </h3>
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons uk-modal-close"></i>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <label>Equipamento <red>*</red></label>
                <select class="md-input label-fixed" ng-model="equipamento" ng-options="item as item.Descricao for item in equipamentos" md-input>
                    <option value="">Selecione...</option>
                </select>
            </div>
            <div class="uk-width-1 uk-grid-margin">
                <div class="uk-align-right">
                    <a class="md-btn md-btn-primary" ng-click="addEquipamento()" href="javascript:void(0)">Adicionar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="uk-modal" id="certificado" aria-hidden="true">
    <div class="uk-modal-dialog">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Adicionar Certificado
            </h3>
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons uk-modal-close"></i>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <label>Certificado <red>*</red></label>
                <select class="md-input label-fixed" ng-model="certificado" ng-options="item as item.Descricao for item in certificados" md-input>
                    <option value="">Selecione...</option>
                </select>
            </div>
            <div class="uk-width-1 uk-grid-margin">
                <div class="uk-align-right">
                    <a class="md-btn md-btn-primary" ng-click="addCertificado()" href="javascript:void(0)">Adicionar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="uk-modal" id="experiencia" aria-hidden="true">
    <div class="uk-modal-dialog">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Adicionar Experiência Profissional
            </h3>
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons uk-modal-close"></i>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <label>Profissão <red>*</red></label>
                <select class="md-input label-fixed" ng-model="experiencia.Profissao" ng-options="item as item.Descricao for item in profissoes" md-input>
                    <option value="">Selecione...</option>
                </select>
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Disponibilidade <red>*</red></label>
                <select class="md-input label-fixed" ng-model="experiencia.Disponibilidade" ng-options="item as item.Descricao for item in disponibilidades" md-input>
                    <option value="">Selecione...</option>
                </select>
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Telefone <red>*</red></label>
                <input type="text" class="md-input label-fixed" ui-mask="(99) 99999-9999" ng-model="experiencia.Telefone" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Data Inicial <red>*</red></label>
                <input type="text" ui-mask="99/99/9999" model-view-value="true" datepicker class="md-input uk-input" ng-model="experiencia.DataInicial" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Data Final</label>
                <input type="text" ui-mask="99/99/9999" model-view-value="true" datepicker class="md-input uk-input" ng-model="experiencia.DataFinal" md-input />
            </div>
            <div class="uk-width-1-1 uk-grid-margin">
                <label>Descrição</label>
                <input type="text" class="md-input uk-input" ng-model="experiencia.Descricao" md-input />
            </div>
            <div class="uk-width-1 uk-grid-margin">
                <div class="uk-align-right">
                    <a class="md-btn md-btn-primary" ng-click="addExperiencia()" href="javascript:void(0)">Adicionar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-modal" id="experienciaView" aria-hidden="true">
    <div class="uk-modal-dialog">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Ver Experiência Profissional
            </h3>
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons uk-modal-close"></i>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <label>Profissão</label>
                <input type="text" ng-disabled="true" class="md-input uk-input" ng-model="experiencia.Profissao.Descricao" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Disponibilidade</label>
                <input type="text" ng-disabled="true" class="md-input uk-input" ng-model="experiencia.Disponibilidade.Descricao" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Telefone</label>
                <input type="text"  ng-disabled="true" class="md-input label-fixed" ui-mask="(99) 99999-9999" ng-model="experiencia.Telefone" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Data Inicial</label>
                <input type="text" ng-disabled="true" class="md-input uk-input" ng-model="experiencia.DataInicial" md-input />
            </div>
            <div class="uk-width-1-2 uk-grid-margin">
                <label>Data Final</label>
                <input type="text" ng-disabled="true" class="md-input uk-input" ng-model="experiencia.DataFinal" md-input />
            </div>
            <div class="uk-width-1-1 uk-grid-margin">
                <label>Descrição</label>
                <input type="text" ng-disabled="true" class="md-input uk-input" ng-model="experiencia.Descricao" md-input />
            </div>
        </div>
    </div>
</div>
