<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">Alterar Senha</h3>
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <label>Senha Anterior <red>*</red></label>
                        <input type="text" maxlength="15" class="md-input label-fixed" ng-model="form.SenhaAnterior" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>Nova Senha <red>*</red></label>
                        <input type="text" maxlength="15" class="md-input label-fixed" ng-model="form.NovaSenha" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>Confirmar Senha <red>*</red></label>
                        <input type="text" maxlength="15" class="md-input label-fixed" ng-model="form.ConfirmarSenha" md-input />
                    </div>
                    <div class="uk-width-1 uk-grid-margin">
                        <div class="uk-align-right">
                            <a class="md-btn md-btn-primary" ng-click="salvar()" href="javascript:void(0)">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
