<div id="page_content" ng-init="init()">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Registro de Plano
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-2-5">
                        <label>Descrição <red>*</red></label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.Descricao" md-input />
                    </div>
                    <div class="uk-width-1-5">
                        <label>Valor <red>*</red></label>
                        <input type="text" class="md-input label-fixed" ng-model="form.Valor" money-mask md-input />
                    </div>
                    <div class="uk-width-1-5">
                        <label>Dias <red>*</red></label>
                        <input type="text" integer class="md-input label-fixed" ng-model="form.Dias" md-input />
                    </div>
                    <div class="uk-width-1-5">
                        <label>Tipo de Plano <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.TipoPlano" md-input>
                            <option value="">Selecione...</option>
                            <option value="A">Associado</option>
                            <option value="B">Banner</option>
                        </select>
                    </div>
                    <div class="uk-width-1 uk-grid-margin">
                        <div class="uk-align-right">
                            <a class="md-btn md-btn-primary" ng-click="voltar()" href="javascript:void(0)">Voltar</a>
                            <a class="md-btn md-btn-primary" ng-click="salvar()" href="javascript:void(0)">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>