.uk-navbar-flip span.name {
    display: block;
    color: #fdfdfd;
    font-size: 13px;
    padding-top: 8px;
}

.uk-navbar-flip span.mail {
    display: block;
    color: #fdfdfd;
    font-size: 11px;
}

table .action {
    width: auto;
    white-space: nowrap;
}

table .content {
    width: 100%;
}

red {
    color: red;
}

#sidebar_main .sidebar_main_header .sidebar_logo a {
    margin-left: 0px;
}

#sidebar_main .sidebar_main_header .sidebar_logo {
    height: auto;
}

#sidebar_main .sidebar_main_header {
    background-image: none;
    background-color: white;
}

.user_heading_avatar img.custom {
    background-image: initial;
}

.material-icons.Ativo {
    display: none;
}

.material-icons.Inativo {
    color: red;
    font-size: 14px;
}

.uk-pagination > li.uk-active > a, .uk-pagination > li.uk-active > span {
    background: #1976d2;
    color: white;
}

.uk-pagination > li > a:hover {
    background: #ddeaf7;
}

td {
    font-size: 12.5px;
}

.md-btn-small {
    padding: 2px 14px;
}

.btn-inline {
    margin-top: 12px;
}

th.situacao {
    width: 10px;
}

th.acoes-1 {
    min-width: 58px;
    width: 58px;
}

th.acoes-2 {
    min-width: 116px;
    width: 116px;
}

th.acoes-3 {
    min-width: 174px;
    width: 174px;
}

th.acoes-4 {
    min-width: 240px;
    width: 240px;
}

th.acoes-5 {
    min-width: 290px;
    width: 290px;
}

select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50% !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.selectize-control.single .selectize-input:after {
    border: none !important;
    content: '\e313';
    font-family: "Material Icons";
    font-size: 18px;
    margin-top: -11px !important;
    right: 20px;
}

#header_main {
    background: #233355;
}

#sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
    color: #233355;
}

#sidebar_main .menu_section > ul > li.current_section > a .menu_title {
    color: #233355;
}

#sidebar_main .menu_section > ul > li ul li.act_item a {
    color: #233355;
    font-weight: 500;
}

.sidebar_logo a img {
    margin-top: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.selectize-input {
    border: unset;
    border-bottom: 1px solid #d0d0d0;
}

.ui-select-choices.ui-select-dropdown.selectize-dropdown.single {
    margin-top: -6px !important;
}

.md-input-wrapper.md-input-filled label {
    z-index: 10;
}

.ui-select-match span {
    font: 400 15px/18px Roboto,sans-serif;
}

.selectize-input {
    padding-left: 2px;
    padding-top: 12px;
}

.selectize-control .selectize-input.disabled {
    opacity: .5;
    background-color: unset;
}

.md-input-wrapper.md-input-wrapper-disabled > label {
    color: unset;
}

.ui-select-choices-row-inner {
    font: 400 12px/14px Roboto,sans-serif;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    white-space: nowrap;
    font: 400 15px/18px Roboto,sans-serif;
}

.ui-select-match {
    width: 93%;
    overflow: hidden;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    padding: 8px 25px;
    border-top: 1px solid rgba(0,0,0,.12);
    line-height: 24px;
}

@media only screen and (min-width: 1220px) {
    .sidebar_main_active #footer, .sidebar_main_open #footer {
        margin-left: 240px;
    }
}

.user_heading.operador {
    background: #233355;
}

input.ui-select-search {
    min-height: 22px !important;
}

.selectize-input {
    padding-top: 14px;
}

.autocomplete input {
    border-radius: 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.12);
    font: 400 15px/18px Roboto,sans-serif;
    box-shadow: inset 0 -1px 0 transparent;
    box-sizing: border-box;
    padding: 12px 4px;
    background: 0 0;
    width: 100%;
    display: block;
}

.autocomplete ul {
    box-sizing: border-box;
    padding: 0px 0px !important;
    margin: 0 !important;
    cursor: pointer;
}

    .autocomplete ul li {
        padding: 8px !important;
        width: calc(100% - 16px);
    }

.autocomplete li.active {
    width: calc(100% - 16px);
}

.user_heading_avatar img {
    background-image: none;
}

.uk-modal-dialog .md-card-toolbar {
    height: 33px;
    margin: -24px;
    padding: 0px 16px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: #fff;
}

.uk-modal-dialog .md-card-toolbar-heading-text {
    font: 500 14px/50px Roboto,sans-serif;
    color: #212121;
    margin: 0;
    float: left;
    overflow: hidden;
    height: 48px;
}

.uk-modal-dialog .md-card-toolbar .md-icon {
    color: #727272;
    background: none;
}

    .uk-modal-dialog .md-card-toolbar .md-icon:hover {
        color: #212121;
        background: rgba(0,0,0,.08);
    }

.uk-modal-dialog .md-card-toolbar-actions {
    float: right;
    margin-top: 8px;
}

.md-input-suffix .suffix {
    position: absolute;
    right: 6px;
    top: 10px;
}

.md-input-wrapper + .suffix {
    display: none;
}

.md-input-wrapper + .suffix {
    display: none;
}

.md-input-wrapper.md-input-filled + .suffix, .md-input-wrapper.md-input-focus + .suffix {
    display: block;
}

.md-input-suffix input[type=text].md-input {
    padding-right: 30% !important;
}

.md-input-suffix {
    position: relative;
}
