/* Empty. Add your own CSS if you like */


.card-image {
    width: 100%;
}



/* preloader */
/* ================================================== */

#preloader {
    text-align: center;
}

.preloader {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 2px solid;
    border-top-color: rgba(255,255,255, 0.65);
    border-bottom-color: rgba(255,255,255, 0.15);
    border-left-color: rgba(255,255,255, 0.15);
    border-right-color: rgba(255,255,255, 0.15);
    -webkit-animation: preloader 0.8s ease-in infinite;
    animation: preloader 0.8s ease-in infinite;
}

.preloader {
    border-top-color: #8e2361;
}

@keyframes preloader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes preloader {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}
  
.item-stacked.item-select select {
  position: relative !important;
}
  
  
.item-stacked.item-select:after {
  top: 60% !important;
}

.item-stacked.item-select select {
    max-width: 100% !important;
    width: 100% !important;
    display: table;
    padding: 7px 10px 7px 7px;
    direction: ltr;
}

.login-logo {
    text-align: center;
}

.login-logo img {
    width: 180px;
    border-radius: 25px;
}

div.list .card:first-child {
    margin-top: 0px;
}

div.list .card:last-child {
    margin-bottom: 0px;
}

/** THEME OVERRIDE **/

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: #7f2358 !important;
}

.bar.bar-stable .title {
    color: white !important;
}

.bar-stable .button.button-icon, .bar button.back-button {
    color: white !important;
}

.bar.bar-stable {
    background: #7f2358 !important;
}

ion-content {
    background: #f5f5f5;
}

.item-stacked-label {
    background: white !important;
}

.button.button-positive {
    background: #7F2359;
    background: -webkit-linear-gradient(bottom right, #7F2359, #B02374);
    background: -moz-linear-gradient(bottom right, #7F2359, #B02374);
    background: linear-gradient(bottom right, #7F2359, #B02374);
}

.button.button-positive:active, .button.button-positive:hover, .button.button-positive:focus {
    background-color: #7f2358 !important;
}

ion-list + ion-list .list {
    margin-top: 8px;
}

.item-profissional {
    position: relative;

}

.item-profissional .img-holder {
    width: 100%;
    padding: 0 8px;
    height: 61px;
    background: #7F2359;
    background: -webkit-linear-gradient(bottom right, #7F2359, #B02374);
    background: -moz-linear-gradient(bottom right, #7F2359, #B02374);
    background: linear-gradient(bottom right, #7F2359, #B02374);
}

.item-profissional .img-holder .img-floater {
    position: absolute;
    top: 8px;
}

.item-profissional .img-holder img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: 3px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.item-profissional .img-holder h4 {
    margin: 0;
    color: white;
    margin-left: 100px;
    margin-right: 16px;
    padding-top: 18px;
}

.item-profissional .img-holder p {
    margin: 0;
    color: white;
    margin-left: 100px;
    margin-right: 16px;
    font-weight: lighter;
    text-align: left;
}

.item-profissional p {
    margin-left: 108px;
    text-align: left;
    margin-right: 16px;
    margin-top: 4px;
    font-weight: lighter;
    margin-bottom: 0px;
    height: 21px;
    max-height: 21px;
}

.item-profissional p .tag {
    padding: 3px 8px;
    color: white;
    font-size: 11px;
    border-radius: 15px;
    background: #7F2359;
    background: -webkit-linear-gradient(bottom right, #7F2359, #B02374);
    background: -moz-linear-gradient(bottom right, #7F2359, #B02374);
    background: linear-gradient(bottom right, #7F2359, #B02374);
}

.item-profissional ul p {
    text-align: center;
    margin-bottom: 4px;
}

.item-profissional ul{
    text-align: center;
}

.item-profissional ul li {
    line-height: 16px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    padding: 12px;
    font-weight: lighter;
}

.card .button {
    min-height: 20px;
    font-size: 14px;
    margin: 12px 16px;
    line-height: 32px;
}

.card h2.title {
    font-size: 18px;
    padding: 0px 16px;
    margin-top: 8px;
    color: #333;
    margin-bottom: 4px;
}

.card p.subtitle {
    font-size: 14px;
    padding: 0px 16px;
    margin-top: 0px;
    color: #666;
    font-weight: lighter;
}

.text-muted {
    font-size: 14px;
    color: #666;
    font-weight: lighter;
}