<div id="page_content" ng-init="init()">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Registro de Banner
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <img src="{{getPhoto()}}" style="width:100%" />
                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <label>Cliente <red>*</red></label>
                                <select class="md-input label-fixed" ng-model="form.Cliente.Id" ng-options="x.Id as x.Nome for x in clientes" md-input></select>
                            </div>
                            <div class="uk-width-1-1 uk-grid-margin">
                                <label>Título <red>*</red></label>
                                <input type="text" maxlength="80" class="md-input label-fixed" ng-model="form.Titulo" md-input />
                            </div>
                            <div class="uk-width-1-2 uk-grid-margin">
                                <label>Data de Estreia <red>*</red></label>
                                <input type="text" ui-mask="99/99/9999" datepicker class="md-input uk-input" ng-model="form.Estreia" md-input />
                            </div>
                            <div class="uk-width-1-2 uk-grid-margin">
                                <label>Data de Expiração <red>*</red></label>
                                <input type="text" ui-mask="99/99/9999" datepicker class="md-input uk-input" ng-model="form.Expiracao" md-input />
                            </div>
                            <div class="uk-width-1-3 uk-grid-margin">
                                <label>Tipo de Ação <red>*</red></label>
                                <select class="md-input label-fixed" ng-model="form.IdTipoAcao" ng-options="ta.Id as ta.Descricao for ta in tipoAcao" md-input>
                                </select>
                            </div>
                            <div class="uk-width-2-3 uk-grid-margin" ng-if="form.IdTipoAcao == 0">
                                <label>Link <red>*</red></label>
                                <input type="text" maxlength="2000" class="md-input label-fixed" ng-model="form.Link" md-input />
                            </div>
                            <div class="uk-width-2-3 uk-grid-margin" ng-if="form.IdTipoAcao == 1">
                                <label>Telefone <red>*</red></label>
                                <input type="text" class="md-input label-fixed" ui-br-phone-number-mask="areaCode" ng-model="form.Telefone" md-input />
                            </div>
                            <div class="uk-width-2-3 uk-grid-margin">
                                <label>Descrição <red>*</red></label>
                                <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.Descricao" md-input />
                            </div>
                            <div class="uk-width-1-3 uk-grid-margin">
                                <label>Situação <red>*</red></label>
                                <select class="md-input label-fixed" ng-model="form.Situacao" md-input>
                                    <option value="A">Ativo</option>
                                    <option value="E">Em moderação</option>
                                    <option value="I">Inativo</option>
                                </select>
                            </div>
                            <div class="uk-width-1-1 uk-grid-margin" ng-if="IsAdmin">
                                <input type="file" file-change="uploadPhoto">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1 uk-grid-margin">
                        <div class="uk-align-right">
                            <a class="md-btn md-btn-primary" ng-click="voltar()" href="javascript:void(0)">Voltar</a>
                            <a class="md-btn md-btn-primary" ng-if="IsAdmin" ng-click="salvar()" href="javascript:void(0)">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card uk-margin-medium-bottom" ng-if="form.Pagamentos.length == 0">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Não há registro de pagamentos.
                </h3>
            </div>
        </div>
        <div class="md-card uk-margin-medium-bottom" ng-hide="form.Pagamentos == undefined || form.Pagamentos.length == 0">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Histórico de pagamentos
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Referência</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Dias</th>
                                <th>Registro</th>
                                <th>Confirmação</th>
                                <th>Situação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pagamento in form.Pagamentos">
                                <td>{{pagamento.CheckoutIdentifier}}</td>
                                <td>{{pagamento.Descricao}}</td>
                                <td>{{pagamento.Valor}}</td>
                                <td>{{pagamento.Dias}}</td>
                                <td>{{pagamento.DataCriacao}}</td>
                                <td>{{pagamento.DataConfirmacao}}</td>
                                <td>{{pagamento.Situacao}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>