<div id="page_content" ng-init="init()">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Registro de Associado
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-2-3">
                        <label>Nome / Responsável<red>*</red></label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.Nome" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>CPF <red>*</red></label>
                        <input type="text" ui-mask="999.999.999-99" class="md-input uk-input" ng-model="form.CPF" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>E-mail <red>*</red></label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.Email" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Celular</label>
                        <input type="text" class="md-input label-fixed" ui-mask="(99) 99999-9999" ng-model="form.TelefoneCelular" md-input />
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Data Expiração <red>*</red></label>
                        <input type="text" class="md-input label-fixed" datepicker ui-mask="99/99/9999" ng-model="form.DataExpiracao" md-input />
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Senha <red>*</red></label>
                        <input type="password" maxlength="12" autocomplete='new-password' class="md-input label-fixed" ng-model="form.Senha" md-input />
                    </div>
                    <div class="uk-width-1-3 uk-grid-margin">
                        <label>Situação</label>
                        <select class="md-input label-fixed" ng-model="form.Situacao" md-input>
                            <option value="True">Ativo</option>
                            <option value="False">Inativo</option>
                        </select>
                    </div>
                    <div class="uk-width-1 uk-grid-margin">
                        <div class="uk-align-right">
                            <a class="md-btn md-btn-primary" ng-click="voltar()" href="javascript:void(0)">Voltar</a>
                            <a class="md-btn md-btn-primary" ng-click="salvar()" href="javascript:void(0)">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Dados Empresariais
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-2-3">
                        <label>Razão Social <red>*</red></label>
                        <input type="text" maxlength="250" class="md-input label-fixed" ng-model="form.NomeEmpresa" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>CNPJ <red>*</red></label>
                        <input type="text" cnpj class="md-input uk-input" ng-model="form.Cnpj" md-input />
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Endereço do associado
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <label>CEP</label>
                        <input type="text" ui-mask="99999-999" class="md-input label-fixed" ng-model="form.CEP" md-input />
                    </div>
                    <div class="uk-width-1-3">
                        <label>Estado <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.IdEstado" ng-options="item.Id as item.Sigla for item in estados" ng-change="carregarCidades(form.IdEstado)" md-input>
                            <option value="">Selecione...</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3">
                        <label>Cidade <red>*</red></label>
                        <select class="md-input label-fixed" ng-model="form.IdCidade" ng-disabled="!(form.IdEstado > 0)" ng-options="item.Id as item.Nome for item in cidades" md-input>
                            <option value="">Selecione...</option>
                        </select>
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Bairro</label>
                        <input type="text" maxlength="50" class="md-input label-fixed" ng-model="form.Bairro" md-input />
                    </div>
                    <div class="uk-width-1-2 uk-grid-margin">
                        <label>Logradouro</label>
                        <input type="text" maxlength="100" class="md-input label-fixed" ng-model="form.Logradouro" md-input />
                    </div>
                </div>
            </div>
        </div>

        <div class="md-card uk-margin-medium-bottom" ng-if="form.Pagamentos.length == 0">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Não há registro de pagamentos.
                </h3>
            </div>
        </div>
        <div class="md-card uk-margin-medium-bottom" ng-hide="form.Pagamentos == undefined || form.Pagamentos.length == 0">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Histórico de pagamentos
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Dias</th>
                                <th>Registro</th>
                                <th>Confirmação</th>
                                <th>Situação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pagamento in form.Pagamentos">
                                <td>{{pagamento.CheckoutIdentifier}}</td>
                                <td>{{pagamento.Descricao}}</td>
                                <td>{{pagamento.Valor}}</td>
                                <td>{{pagamento.Dias}}</td>
                                <td>{{pagamento.DataCriacao}}</td>
                                <td>{{pagamento.DataConfirmacao}}</td>
                                <td>{{pagamento.Situacao}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
